<div>
    <div style="text-align: center;display:inline-block;height: 50vh;width: 49vw;">   
        <h1 style="padding-top: 20vh;">ABOUT</h1>
    </div>
    <div style="display: inline-block;width: 35vw;vertical-align: middle;">
        <h3 style="line-height: 2;padding-top: 10vh;">The Digital Notebook is an innovative tool for educational systems. It is designed to help schools move toward the digital era while utilizing the technological orientation which children nowadays possess. Our goal is to disrupt the current educational methods which researches implies that is incompatible with the modern labor market. </h3>
    </div>
</div>