<div style="text-align:center;" class="contact">
    <h2>TELL US IF YOU'RE INTERESTED</h2>
    <h4>Please enter below the following contact details:</h4>
    <form action="/index" method="get">
        <label for="email">E-Mail: &nbsp;&nbsp;</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="city">City: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" id="city" name="city"><br><br>
        <button type="submit" formmethod="get">Submit</button>
    </form>
    <br>
    <h3>For inquiries: dignotebook@gmail.com</h3>
</div>
