<div>
    <div style="text-align: center;display:inline-block;height: 50vh;width: 49vw;">   
        <h1 style="padding-top: 20vh;">HOW?</h1>
    </div>
    <div style="display: inline-block;width: 35vw;vertical-align: middle;">
        <h3 style="line-height: 2;padding-top: 10vh;">The Digital Notebook is a platform perfectly suited to the student’s needs. The notebook’s functionalities were designed while bearing in mind the true needs and lifestyle of the student and it is customizable in order to fit the student’s preferences. Moreover, the platform will allow partial access to both parents and relevant school staff in order to help them stay involved in the student’s progress and be able to assist each student according to their needs. </h3>
    </div>
</div>