<div>
    <div style="text-align: center;display:inline-block;height: 50vh;width: 49vw;">   
        <h1 style="padding-top: 20vh;">WHY?</h1>
    </div>
    <div style="display: inline-block;width: 35vw;vertical-align: middle;">
        <h3 style="line-height: 2;padding-top: 10vh;">We believe that education is the very foundation to a healthy and prospering society. We are fully dedicated to creating the best possible solution to one of the greatest challenges of our generation: Creating an educational system which is not outdated and not categorizing young children into groups of abilities and disabilities. As our team members had suffered in their past from various problems in their local education systems, we are truly devoted to make an impact and promote this paramount cause. </h3>
    </div>
</div>