{% extends "layout.html" %}

{% block content %}
    <div style="padding-top: 10vh;">
    </div>
    {% include "includes/home.html" %}
    <div style="padding-top: 10vh;">
    </div>        
    {% include "includes/about.html" %}
    <div style="padding-top: 10vh;">
    </div>        
    {% include "includes/why.html" %}
    <div style="padding-top: 10vh;">
    </div> 
    {% include "includes/how.html" %}
    <div style="padding-top: 10vh;">
    </div>           
    {% include "includes/contact.html" %}
    <div style="padding-top: 10vh;">
    </div>  
{% endblock %}